*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 8vh;
    line-height: 8vh;
    background-color: royalblue;
    margin-bottom: 60px;
}
a{
    color: white;
    text-decoration: none;
    width: 25%;
    transition: 1s;
}
a:hover{
    border: 2px solid white;
    color:white;
    background-color: black;
}